<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static '/app/css/main.css' %}">

  <title>CSHUB</title>
</head>
<body class="p-3 text-xs sm:text-base lg:text-lg">
  {% include 'header.html' %}

  <div class="mt-6 px-3">
    <p class="mt-4 mb-4">
      <span class="font-medium">{{count}}</span> total reports.
    </p>

    <div class="md:w-4/5 lg:w-3/5">
      {% for r in reports %}
      <div class="my-4 p-3 border border-gray-300 rounded-lg
      bg-white px-10 gap-x-6 hover:bg-neutral-200 font-medium">
        <p>Report ID: {{r.report_id}}</p>
        <p class="mb-5">Report Date: {{r.report_date}}</p>
        <p>User ID: {{r.user_id}}</p>
        <p>Reported Resource ID: {{r.resource_id}}</p>
        <p>Comment: {{r.descr}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
