<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
  <link rel="stylesheet" href="{% static '/app/css/main.css' %}">

  <title>CSHUB</title>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
class="p-3 text-xs sm:text-base lg:text-lg">
  {% include 'header.html' %}

  <div class="mt-6 px-3">
    <h1 class="text-5xl font-medium text-center">
      Find what you're looking for.
    </h1>
    <p class="mt-4 text-xl text-center">
      At <span class="font-medium">CSHUB</span>, we have tens of resources to help you with your CS courses.
    </p>

    <div class="relative mx-auto max-w-xl mt-6">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
      </div>
      <input name="input" placeholder="Search by course number..."
      class="block p-4 pl-10 w-full text-sm text-gray-900
      bg-gray-50 rounded-lg border border-gray-300
      focus:ring-[#F9C041] focus:border-[#F9C041]"
      hx-post="/results/" 
      hx-trigger="keyup changed delay:200ms, search" 
      hx-target="#search-results" 
      hx-indicator=".htmx-indicator">
    </div>

    <div id="search-results" class="mt-6"></div>
  </div>
</body>
</html>
